.catalog {
  margin-top: 3.5rem;

  &__divider {
    color: $grey_text;
    margin: 5rem 1rem 0 1rem;

    &__line {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid $grey_text;
      line-height: 0.1em;
      margin: 10px 0 20px;
    }

    &__line span {

      background: #fff;
      padding: 0 1rem;
    }
  }

  &__category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
  }

  &__container_currency {
    padding: 0 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(17rem, 1fr));
    gap: 1rem;
    flex-wrap: wrap;
  }
  &__parallax{
    padding: 1.5rem 0 0 0;
  }

  &__text-h2 {
    font-size: $h2_size;
    color: $white;
  }

  &__text-p {
    margin-top: 6rem;
    font-size: $text-p;
  }
}
fa-apple-alt{

}



