.catalog {
  margin-top: 3.5rem;

  &__container_currency {
    padding: 0 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(17rem, 1fr));
    gap: 1rem;
    flex-wrap: wrap;
  }


  &__text-h2 {
    font-size: $h2_size;
    color: $white;
  }
  &__text-p{
    margin-top: 6rem;
  }
}