$padding: 0.5rem;
$margin: 1rem;

//colors

$green_light: #a3f1cb;
$white: #FFFFFFFF;
$grey_icon: #7b7b7b;
$grey_text: #8b8b8b;
$dark_text: #363636;
$hover_link: #42d58e;

//path
$path_img: './public/img/';


//fonts
$h2_size: 4rem;
$text-p: 3.6rem;

//sizes