@import 'vars';
@import 'modules/header';
@import "modules/catalog";

.main {
  margin: 0 auto;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;

  a {
    &:hover {
      color: #42b983;
    }
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}